{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>THE HAMPTONS</title>
</head>
<body>
    <div style="text-align: center;">
        <h1>Hampton Peter Frampton</h1>
        <p>Don't Touch The Sides!&trade;</p>
        <p><a
            href="/accounts/twitter/login/?process=login"><img
            src="{% static 'H7/img/sign-in-with-twitter-gray.png' %}"
            border="0"></a></p>
    </div>
</body>
</html>