{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <title>THE HAMPTONS</title>
    <!-- Path to Framework7 Library CSS-->
    <link rel="stylesheet" href="{% static 'H7/css/framework7.css' %}">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="{% static 'H7/css/hamptons-mobile.css' %}">
</head>
<body>
    <!-- Panels overlay-->
    <div class="statusbar-overlay"></div>
    <div class="panel-overlay"></div>
    <!-- Left panel with reveal effect-->
    <div class="panel panel-left panel-cover">
        <div class="content-block">
            <p>App settings (avatar, Twitter auth, etc)</p>
        </div>
    </div>
    <div class="panel panel-right panel-cover">
        <div class="view view-right">
            <!--<div class="navbar">
                <div class="navbar-inner">
                    <div class="left">This Here Framptoning</div>
                    <div class="center sliding"></div>
                    <div class="right"></div>
                </div>
            </div>-->
            <div class="pages">
                <div data-page="panel-right1" class="page">
                    
                    <div class="page-content">
                        
                        <div class="content-block-title">Who The Fuck Are You</div>
                        
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">Name</div>
                                            <div class="item-input">
                                                <input type="text"
                                                    placeholder="Hamptonite ID"
                                                    value="{{ user.username }}">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="content-block-title">Tags</div>
                        
                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="H7-label-seventy item-title label">#HPF (Always Included)</div>
                                            <div class="H7-switch-no-width item-input">
                                                <label class="label-switch">
                                                    <input type="checkbox" checked
                                                        onclick="return false;"
                                                        onchange="return false;">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="H7-label-seventy item-title label">#WAB2</div>
                                            <div class="H7-switch-no-width item-input">
                                                <label class="label-switch">
                                                    <input type="checkbox" checked>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                        <div class="content-block-title">Hamptonites</div>
                        
                        <div class="list-block media-list">
                            <ul class="H7-no-edge">
                                <li><a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="http://hhhhold.com/160/d/jpg?1" width="80"></div>
                                    <div class="H7-no-edge item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Joey Zook</div>
                                            <div class="item-after">17</div>
                                        </div>
                                        <div class="item-subtitle">@getzook</div>
                                    </div>
                                </a></li>
                                <li><a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="http://hhhhold.com/160/d/jpg?1" width="80"></div>
                                    <div class="H7-no-edge item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">Troy Turnwald</div>
                                            <div class="item-after">32</div>
                                        </div>
                                        <div class="item-subtitle">@TeeCoZee</div>
                                    </div>
                                </a></li>
                                <li><a href="#" class="item-link item-content">
                                    <div class="item-media"><img src="http://hhhhold.com/160/d/jpg?1" width="80"></div>
                                    <div class="H7-no-edge item-inner">
                                        <div class="item-title-row">
                                            <div class="item-title">SkyMall&trade; McGee</div>
                                            <div class="item-after">9</div>
                                        </div>
                                        <div class="item-subtitle">@d_millions</div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>

                </div><!-- page -->
            </div><!-- pages (plural) -->
        </div>
    </div>
    
    <!-- Views-->
    <div class="views">
        <!-- Your main view, should have "view-main" class-->
        <div class="view view-main">
            <!-- Top Navbar-->
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="left"></div>
                    <div class="center sliding">THE HAMPTONS</div>
                    <div class="right"><a href="chat.html" class="link">Framptonia &raquo;</a></div>
                </div>
            </div>
            
            <!-- Pages, because we need fixed-through navbar and toolbar, it has additional appropriate classes-->
            <div class="pages navbar-through">
                <!-- Page, data-page contains page name-->
                <div data-page="index" class="page">
                    <!-- Scrollable page content-->
                    <div class="page-content">
                        <div class="content-block-title">Welcome To Your Awesome App</div>
                        <div class="content-block">
                            <div class="content-block-inner">
                                <p>Couple of worlds here because your app is so awesome ;)</p>
                                <p>Hey look! You already have two panels,
                                    here comes your <a href="#" class="open-panel">Left panel</a>
                                    and your favorite <a href="#" data-panel="right" class="open-panel">Right panel</a>
                                    is also here!</p>
                                
                            </div>
                        </div>
                        <div class="content-block-title">What about simple navigation?</div>
                        
                        <div class="list-block">
                            <ul>
                                <li><a href="chat.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Framptonia</div>
                                        </div>
                                    </div>
                                </a></li>
                                <li><a href="chat.html" class="item-link">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title">Framptonia</div>
                                        </div>
                                    </div>
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Bottom Toolbar-->
            <div class="toolbar">
                <div class="toolbar-inner">
                    <a href="#" class="open-panel"><i class="icon icon-bars-blue"></i></a>
                    <a href="chat.html"
                        id="tweeter-button"
                        data-popover=".popover-tweeter"
                        class="open-popover link"><i class="icon icon-form-comment"></i></a>
                </div>
            </div>

        </div>
    </div>
    
    <!-- TWEETER -->
    <div class="popover popover-tweeter" style="display: none; top: 449px; left: 1136px; width: 96%">
        <div class="popover-angle on-bottom" style="left: 235.5px;"></div>
            <div class="popover-inner">
                <div class="list-block">
                    <ul>
                        <li class="align-top">
                            <div class="H7-no-left-pad item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <form><textarea id="id_tweeter"
                                            name="tweeter">@getzook @teecozee @d_millions @peterframpton YO DOGG #HPF</textarea></form>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                        <li class="align-top">
                            <div class="H7-no-left-pad item-content">
                                <div class="item-inner">
                                    <div class="item-input">
                                        <a href="#" id="tweet-button"
                                            class="list-button button button-big button-submit">TWEET ME</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
    <script>
        window.SETTINGS = {};
        window.SETTINGS['username'] = '{{ user.username }}';
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
    <script type="text/javascript" src="{% static 'H7/js/hashes.js' %}"></script>
    <script type="text/javascript" src="{% static 'H7/js/duckpunch.js' %}"></script>
    <script type="text/javascript" src="{% static 'H7/js/framework7.js' %}"></script>
    <script type="text/javascript" src="{% static 'H7/js/hamptons-mobile.js' %}"></script>
    
    <div class="modal-overlay"></div>
</body>
</html>