Cython==0.20.1
Django==1.6.2
FullContact.py==0.0.1
Pillow==9.0.1
Pygments==1.6
SQLAlchemy==0.9.4
South==0.8.4
argh==0.24.1
argparse==1.1
args==0.1.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
bpython==0.12
cffi==0.8.2
clint==0.3.6
couchdbkit==0.6.5
cryptography==0.3
django-admin-bootstrapped==1.6.4
django-allauth==0.16.1
django-appconf==0.6
django-autoslug==1.7.2
django-delegate==0.3.0
django-docfield-couchdb==0.2.4
django-durationfield==0.5.1
django-extensions==1.3.3
django-fields==0.2.2
django-haystack==2.1.0
django-imagekit==3.2.1
django-ios-notifications==0.1.5
django-memcached==0.1.2
django-modeldict==1.4.1
django-postgrespool==0.2.4
django-social-auth==0.7.28
django-social-friends-finder==0.2
django-tagging==0.3.2
django-uuidfield==0.5.0
elasticsearch==0.4.5
elasticutils==0.9.1
eventlet==0.14.0
gnureadline==6.3.3
greenlet==0.4.2
gunicorn==18.0
hiredis==0.1.2
honcho==0.5.0
http-parser==0.8.3
httpie==0.8.0
httplib2==0.9
ipython==2.0.0
meld3==1.0.0
nodeenv==0.8.0
nose==1.3.1
numexpr==2.4
numpy==1.8.1
oauth2==1.5.211
oauthlib==0.6.1
pilkit==1.1.6
psycopg2==2.5.2
pyOpenSSL==0.14
pycparser==2.10
pycrypto==2.6.1
pylibmc==1.3.0
pysolr==3.2.0
python-openid==2.2.5
python-social-auth==0.1.23
redis==2.9.1
requests==2.2.1
requests-oauthlib==0.4.0
restkit==4.2.2
simplejson==3.4.0
six==1.6.1
socketpool==0.5.3
sockjs-tornado==1.0.0
supervisor==3.0
tornado==3.2
tornado-redis==2.4.16
twitter==1.14.2
uWSGI==2.0.3
ujson==1.33
urllib3==1.8
urlstring==2.4.0
viron==0.4.8
wsgiref==0.1.2
xerox==0.3.1
yolk==0.4.3
