.panel {
  background: #222;
  color: #dddddd;
}
.panel-left .content-block,
.panel-left .content-block-title {
  color: #dddddd;
}
.panel-left .list-block ul {
  background: none;
}
.panel-left .list-block ul,
.panel-left .list-block .item-inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-left .list-block a {
  color: inherit;
}
.panel-left .list-block a:active {
  background: #000;
}
.panel-right .content-block,
.panel-right .content-block-title,
.panel-right .list-panel-title {
  color: #dddddd;
}
.panel-right .navbar {
  background: #000;
  border-bottom: 1px solid #333;
}
.panel-right .navbar .center {
  color: #007aff;
}
.panel-right .navbar a.link {
  color: #fff;
}
.panel-right .page {
  background: #222;
}
.panel-right .list-block ul {
  background: none;
}
.panel-right .list-block ul,
.panel-right .list-block .item-inner {
  border-color: rgba(255, 255, 255, 0.1);
}
.panel-right .list-block a {
  color: inherit;
}
.panel-right .list-block a:active {
  background: #000;
}

/* MY SHIT */
.H7.no-edge {
    border-top: 1px solid transparent !important;
    border-bottom: 1px solid transparent !important;
}

.H7.no-left-pad {
    padding-left: 0 !important;
}

.H7.switch-no-width {
    width: 52px !important;
}

.H7.go-wide {
    width: auto !important;
}

.H7.label-seventy {
    width: 70% !important;
}

.H7.turn-you-white {
    color: rgba(245, 222, 222, 0.9) !important;
}

.H7.turn-you-gray {
    color: rgba(245, 222, 222, 0.7) !important;
}

.message {
    max-width: 85%;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: orange;
    opacity: 0.6;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: orange;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: orange;
    opacity: 0.6;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: orange;
    opacity: 0.6;
}